@model FinalYearProject.Models.ViewModels.RolePermissionVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb-->
@await Html.PartialAsync("_Breadcrumb")

<!-- Role content -->
<section class="pb-5 py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="h4 mb-0">Create Role</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Role.date_created" type="hidden" />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label asp-for="Role.role_id" class="form-label">Role Id</label>
                                        <input asp-for="Role.role_id" class="form-control" readonly/>
                                        <span asp-validation-for="Role.role_id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-3">
                                        <label asp-for="Role.role_name" class="form-label">Role Name</label>
                                        <input asp-for="Role.role_name" class="form-control" />
                                        <span asp-validation-for="Role.role_name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="Role.company_id" class="form-label">Company</label>
                                        <select asp-for="Role.company_id" class="form-select mb-3" asp-items="ViewBag.company_id"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Permissions</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="employeeView" /> @Html.DisplayNameFor(model => model.employeeView)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="employeeRegister" /> @Html.DisplayNameFor(model => model.employeeRegister)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="employeeManage" /> @Html.DisplayNameFor(model => model.employeeManage)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="roleManage" /> @Html.DisplayNameFor(model => model.roleManage)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="shiftManage" /> @Html.DisplayNameFor(model => model.shiftManage)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="trainingManage" /> @Html.DisplayNameFor(model => model.trainingManage)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="payrateManage" /> @Html.DisplayNameFor(model => model.payrateManage)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="companyKPI" /> @Html.DisplayNameFor(model => model.companyKPI)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom my-3 border-gray-200"></div>
                            <div class="row">
                                <div class="text-end">
                                    <partial name="_CreateBackPartial"></partial>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

